body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0f7fa;
    margin: 0;
}



#teto{
    position: relative;
     width: 250px;
    height: 100px;
    background-color: #2f50f2; 
    border-radius: 10%;
    }

#corpo {
    position: relative;
    width: 350px;
    height: 100px;
    background-color: #216387; 
    border-radius: 10%;
    }


